@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav ul li{
    display: inline;
}
footer ul li, nav ul li{
    list-style-type: none;
}
.navs {
    position: relative; z-index: 1001;
    
}
.marad{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.frontpg{
    padding-top: 88px
}
header a, footer a{
    text-decoration: none;
}

.uvegkeret {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(22px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 24px;
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.6),   
    inset 0 -1px 1px rgba(255, 255, 255, 0.15), 
    0 8px 32px rgba(0, 0, 0, 0.18);              
}

header, .frontpage, header a, footer a{
    color: #fff;
}
header a:hover, footer a:hover{
    color: #ccc;
}
header{
    background-image: url(..//img/csesze_kave.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height:  100vh;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

}
.marketing{
    font-size: 100px;
    padding-top: 5%;
}
.navs{
    border-width: 50%;
}
.tovabb{
    padding-left: 15%;
}

.kartyak{
    padding-top: 3%;
    padding-bottom: 7%;
}
.card{
    margin: 0 auto;
    width: 80% !important;
    box-shadow: 0 20px 40px rgba(14, 14, 14, 0.712) !important;
}

.glass {
  background: rgba(26, 26, 26, 0.18);
  backdrop-filter: blur(22px) saturate(180%);
  border: 1px solid rgba(15, 15, 15, 0.45);
  border-radius: 24px;
  box-shadow:
    inset 0 1px 1px rgba(12, 12, 12, 0.6),  
    inset 0 -1px 1px rgba(19, 19, 19, 0.15), 
    0 8px 32px rgba(0, 0, 0, 0.18);              
}
.kartyak img{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.466);
}

.leirasok{
    margin-top: 3%;
}
.leirasokalso, .mentes{
    margin-top: 5%;
}
.szemelyzet{
    align-items: center; 
}
html, body{
    margin: 0;
    padding: 0;
}
footer, .marad{
    background-color: #0C0C0E;
}
html{
    background-color: #0C0C0E;
}
